@media (max-width: 575.98px) {
  .single_carousel {
    height: 500px;
  }
  .banner_text {
    padding: 0 25px;
  }
  .banner_text h3 {
    font-size: 25px;
  }
  .banner_text p {
    font-size: 14px;
    margin: 15px 0 20px 0;
  }
  .alert {
    top: 15%;
  }
}

@media (min-width: 576px) and (max-width: 767.98px) {
}

@media (min-width: 768px) and (max-width: 991.98px) {
}

@media (min-width: 992px) and (max-width: 1199.98px) {
}

@media (min-width: 1200px) {
}
