/* reset css  */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
::after,
::before {
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  color: #687083;
  font-weight: 400;
  font-size: 16px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #00124e;
  line-height: 1.2;
}
.font_40 {
  font-size: 40px;
}
p {
  color: #687083;
  font-weight: 400;
  font-size: 16px;
}
.primary_color {
  color: #00124e;
}
.secondary_color {
  color: #fd4949;
}

a {
  text-decoration: none;
  transition: 0.3s;
}
.primary_btn {
  background: #fd4949;
  padding: 18.5px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  color: #fff;
}
.primary_btn:hover {
  background-color: #00124e;
  color: white;
}
.primary_btn2 {
  background: #fff;
  padding: 18.5px 24px;
  font-size: 14px;
  font-weight: 700;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  color: #00124e;
}
.primary_btn2:hover {
  background-color: #00124e;
  color: white;
}
.text_white {
  color: #fff;
}
.theme_title h3 {
  font-size: 30px;
  font-weight: 700;
  color: #00124e;
  margin-bottom: 30px;
}

.section_padding {
  padding: 80px 0;
}
.text-center {
  text-align: center;
}
.font_18 {
  font-size: 18px;
  line-height: 1.6;
}
.mb_10 {
  margin-bottom: 10px;
}
.mb_20 {
  margin-bottom: 20px;
}
.mb_30 {
  margin-bottom: 30px;
}
.pl_40px {
  padding-left: 40px;
}
.max_800 {
  max-width: 830px;
}
.d-flex {
  display: flex;
}
.gap_5 {
  grid-gap: 5px;
}
.gap_10 {
  grid-gap: 10px;
}
.gap_20 {
  grid-gap: 20px;
}
.see_more_btn {
  font-size: 16px;
  color: #fd4949;
  text-transform: capitalize;
  display: inline-flex;
  grid-gap: 10px;
  align-items: center;
}

.see_more_btn i {
  font-size: 15px;
}
.text-right {
  text-align: right;
}

.gray_bg {
  background: #f7f7f7;
}
.radius_30 {
  border-radius: 30px;
}
/* -------------------------------------------------------------------------- */
/*                                   BANNER                                   */
/* -------------------------------------------------------------------------- */

.bg_img_1 {
  background-image: url(../img/banner/1.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.bg_img_2 {
  background-image: url(../img/banner/2.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.bg_img_3 {
  background-image: url(../img/banner/3.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
.single_carousel {
  height: 700px;
}
.banner_text {
}
.banner_text h3 {
  font-size: 50px;
  line-height: 1.2;
  color: #fff;
  font-weight: 700;
  text-transform: capitalize;
}
.banner_text p {
  font-size: 18px;
  line-height: 1.2;
  color: #fff;
  margin: 20px 0 30px 0;
}
.banner_text {
  text-align: center;
}

.overlay {
  position: relative;
  z-index: 0;
}
.overlay::before {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

/* faq ::start  */
.theme_accordian {
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.theme_accordian .accordion-item {
  background-color: #fff;
  border: 1px solid #d5e5fb !important;
}
.theme_accordian .accordion-item .accordion-header {
}
.theme_accordian .accordion-item .accordion-header .accordion-button {
}
.accordion-button {
  color: #00124e;
}
.accordion-button:not(.collapsed) {
  color: #00124e;
}

/* pricing */
.pricing_box {
}
.pricing_box .pricing_header {
}
.pricing_box .pricing_header h3 {
  font-size: 36px;
  font-weight: 700;
  color: #00124e;
  margin: 25px 0 15px 0;
}
.pricing_box .pricing_header h4 {
  font-size: 24px;
  font-weight: 700;
  color: #00124e;
  margin-bottom: 15px;
}
.pricing_box .pricing_header p {
  color: #687083;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 30px;
}
.pricing_body {
  list-style: none;
  margin: 0 0 30px 0;
  padding: 0;
}
.pricing_body li {
  display: flex;
  align-items: center;
  grid-gap: 10px;
}
.pricing_body li:not(:last-child) {
  margin-bottom: 15px;
}
.pricing_body li span {
  width: 25px;
  height: 25px;
  background: #edecf9;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: #fd4949;
  font-size: 14px;
  flex: 25px 0 0;
}
.pricing_body li p {
  padding: 0;
  margin: 0;
}
.active_box {
  background: #fd4949;
  padding: 30px;
  border-radius: 30px;
  color: #fff;
  box-shadow: 0 14px 5px 0px rgba(0, 0, 0, 0.02);
}
.active_box h3,
.active_box h4,
.active_box p {
  color: #fff !important;
}
.badge {
  background: #00124e;
  padding: 10px 15px;
  border-radius: 30px;
  font-size: 14px;
  box-shadow: 0 14px 5px 0px rgba(0, 0, 0, 0.02);
  color: #fff;
  text-transform: uppercase;
  top: -18px;
  right: 30px;
}

/* -------------------------------------------------------------------------- */
/*                                    BLOG                                    */
/* -------------------------------------------------------------------------- */

.single_blog .thumb {
  overflow: hidden;
  display: block;
}

.single_blog .thumb img {
  width: 100%;
  transition: 0.3s;
  transform: scale(1);
}

.single_blog .blog_content span {
  font-size: 14px;
  font-weight: 400;
  color: #676e8b;
  display: block;
  margin: 27px 0 5px 0;
}

.single_blog .blog_content h4 {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.45;
  transition: 0.3s;
}

.single_blog .blog_content h4:hover {
  color: #fd4949;
}
.single_blog:hover .thumb img {
  transform: scale(1.1);
}
.blog_area {
  background: rgba(241, 241, 241, 0.2);
}
.alert {
  top: 20%;
  z-index: 10000;
  border-left: 10px solid #fd4949 !important;
}
/* footer  */
.footer {
  background: #00124e;
  padding: 80px 0;
}
